@import url("https://use.typekit.net/qnl0kni.css");

:root {
  color-scheme: light dark;
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-family-primary: acumin-pro, var(--font-family-system);
  --font-family-secondary: var(--font-family-primary);
  --font-family-monospace: source-code-pro, monospace;

  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (prefers-color-scheme: light) {
  :root {
    --font-smoothing: normal;
    --color-accent: #216ddf;

    --color-bg-surface-1: #fff;
    --color-bg-surface-2: #f3f3f3;
    --color-bg-surface-3: #fff; /*-- menus, popovers, etc. --*/

    --color-text-primary: #222830;
    --color-text-secondary: #7e8186;
    --color-text-tertiary: #989898;
    --color-text-selection: #2b3a51;
    --color-text-interactive: var(--color-accent);
    --color-text-destructive: #9a1c1c;
    --color-text-primary-interactive-inverted: #fff;
    --color-text-secondary-interactive-inverted: #8593a9;
    --color-text-attention-info: #216ddf;
    --color-text-attention-success: #2a6744;
    --color-text-attention-failure: #9a1c1c;

    --color-bg-control: #fff; /*-- menus items, popover items, etc. --*/
    --color-bg-control-hover: #f5f5f5;
    --color-bg-control-destructive: #fff;
    --color-bg-control-destructive-hover: #fff1f1;
    --color-border-control: #323b4a;

    --color-bg-attention-success: #ecffeb;
    --color-bg-attention-failure: #fff4f4;

    --color-bg-indicator-active: var(--color-accent);
    --color-bg-indicator-inactive: #d9d9d9;
    --color-bg-indicator-inactive-hover: #cbcbcb;

    --color-bg-input-enabled: #fff;
    --color-text-input-enabled-placeholder: #8c8c8c;
    --color-bg-input-border-enabled: transparent;
    --color-bg-input-border-enabled-focused: #92979e;
    --color-text-input-enabled-indicator: #afafaf;
    --color-border-input-enabled-indicator: #d5d5d5;
    --color-bg-input-enabled-indicator: #999;

    --color-icon-primary: #464b55;
    --color-icon-primary-inverted: #fff;
    --color-icon-secondary: #777777;
    --color-icon-tertiary: #bdc1c5;
    --color-icon-interactive-inverted: #9fc7f8;

    --color-bg-interactive: #1c304d;
    --color-bg-interactive-hover: #ebebeb;
    --color-bg-interactive-active: #d9d9d9;
    --color-bg-interactive-active-hover: var(--color-bg-interactive-active);

    --color-bg-button: transparent;
    --color-bg-button-hover: rgba(0 0 0 / 8%);
    --color-text-button: #646464;
    --color-text-button-hover: #575757;

    --color-border-primary: #e4e4e4;
    --color-border-secondary: #f1f1f1;
    --color-border-tertiary: #e9e9e9;

    --color-box-shadow: rgba(0, 0, 0, 0.05);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-smoothing: antialiased;
    --color-accent: #264777;

    --color-bg-surface-1: #1e242d;
    --color-bg-surface-2: #171b20;
    --color-bg-surface-3: #232a36;

    --color-text-primary: #d6deef;
    --color-text-secondary: #858ea1;
    --color-text-tertiary: #5e6677;
    --color-text-selection: #2b3a51;
    --color-text-interactive: #86bdff;
    --color-text-destructive: #ff8686;
    --color-text-interactive-inverted: #fff;
    --color-text-attention-info: #264777;
    --color-text-attention-success: #88d8aa;
    --color-text-attention-failure: #ff8686;

    --color-bg-indicator-inactive: #333333;
    --color-bg-indicator-inactive-hover: #3d3d3d;
    --color-bg-indicator-active: #86bdff;
    --color-bg-indicator-high-contrast-inactive-hover: #242d3a;
    --color-bg-indicator-high-contrast-active: #333f53;

    --color-bg-control: #363636; /*-- menus items, popover items, etc. --*/
    --color-bg-control-hover: #3e3e3e;
    --color-bg-control-destructive: #363636;
    --color-bg-control-destructive-hover: #3e3e3e;

    --color-bg-attention-success: #1d3326;
    --color-bg-attention-failure: #371f1f;

    --color-bg-indicator-inactive: #333333;

    --color-bg-input-enabled: #252d3a;
    --color-text-input-enabled: #7f8ea0;
    --color-text-input-enabled-placeholder: #6d7e95;
    --color-text-input-enabled-indicator: #7f8ea0;
    --color-bg-input-border-enabled: #323b4a;
    --color-bg-input-border-enabled-focused: #516179;
    --color-bg-input-active-enabled: #14315d;
    --color-bg-input-enabled-indicator: rgb(53 67 89 / 60%);

    --color-icon-primary: #cfcfcf;
    --color-icon-primary-inverted: #b3b3b3;
    --color-icon-secondary: #c3c3c3;
    --color-icon-tertiary: #57595b;
    --color-icon-interactive-inverted: #6284b6;

    --color-bg-interactive: transparent;
    --color-bg-interactive-hover: #1d222b;
    --color-bg-interactive-active: #252d3a;
    --color-bg-interactive-active-hover: var(--color-bg-interactive-active);

    --color-bg-button: transparent;
    --color-bg-button-hover: rgba(255 255 255 / 6%);
    --color-text-button: #c3c3c3;
    --color-text-button-hover: #ededed;

    --color-border-primary: #1f252d;
    --color-border-secondary: #28303b;
    --color-border-tertiary: #3c4657;

    --color-box-shadow: rgba(0, 0, 0, 0.075);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: var(--font-smoothing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  font-weight: 700;
}

#app {
  position: absolute;
  inset: 0;
  font-family: var(--font-family-primary);
  overflow: hidden;
}
